torch==2.0.0+cu117
torchvision==0.15.1+cu117
pointnet2_ops==3.0.0

absl-py==2.3.1
addict==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
attrs==26.1.0
bc==0.0.1
blinker==1.9.0
boto3==1.42.97
botocore==1.42.97
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.8
cmake==3.25.0
comm==0.2.3
ConfigArgParse==1.7.5
contourpy==1.3.0
cycler==0.12.1
dash==4.1.0
decorator==5.2.1
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.19.1
Flask==3.1.3
fonttools==4.60.2
fsspec==2025.10.0
future==1.0.0
grpcio==1.80.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
hydra-core==0.11.3
idna==3.4
ImageIO==2.37.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipython==8.18.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
lit==15.0.7
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.2.1
mdurl==0.1.2
mpmath==1.3.0
mypy_extensions==1.1.0
narwhals==2.20.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.13.0
numpy==1.26.4
nvidia-ml-py==13.595.45
omegaconf==1.4.1
open3d==0.19.0
packaging==26.2
pandas==2.3.3
parso==0.8.7
pexpect==4.9.0
pillow==11.3.0
pip==26.0.1
platformdirs==4.4.0
plotly==6.7.0
prettytable==3.16.0
prompt_toolkit==3.0.52
protobuf==6.33.6
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.13.3
pydantic_core==2.46.3
pyecharts==2.1.0
Pygments==2.20.0
pynvml==13.0.1
pyparsing==3.3.2
pyquaternion==0.9.9
pyre-extensions==0.0.29
python-dateutil==2.9.0.post0
pytorch-lightning==0.7.1
pytz==2026.2
PyYAML==6.0.3
referencing==0.36.2
requests==2.28.1
retrying==1.4.2
rich==13.9.4
rpds-py==0.27.1
s3transfer==0.16.1
safetensors==0.7.0
scikit-learn==1.2.1
scipy==1.13.1
setuptools==80.9.0
shellingham==1.5.4
simplejson==4.1.1
six==1.17.0
stack-data==0.6.3
swankit==0.2.4
swanlab==0.6.6
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
tifffile==2024.8.30
timm==1.0.17
tqdm==4.67.3
traitlets==5.14.3
triton==2.0.0
typer==0.23.2
typing_extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2026.2
urllib3==1.26.13
wcwidth==0.7.0
Werkzeug==3.1.8
wheel==0.45.1
widgetsnbextension==4.0.15
wrapt==2.1.2
xformers==0.0.19
zipp==3.23.1

